<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ page.title }}</title>
        <meta name="description" content="Adam Turnbull is a product leader with over 12 years of experience building digital consumer, enterprise, and developer products that people love, certified in user experience design and testing, and a practitioner of goal-driven design.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon" />
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/adamjturnbull.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">

        <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500" rel="stylesheet">

    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {{ content }}

        <footer>
          <div class="container">
            <section class="row" id="">
              <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <ul class="footer-nav">
                  <li class="footer-brand">Adam Turnbull</li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>
                    <script type="text/javascript" language="javascript">
                      <!--
                      // Email obfuscator script 2.1 by Tim Williams, University of Arizona
                      // Random encryption key feature coded by Andrew Moulden
                      // This code is freeware provided these four comment lines remain intact
                      // A wizard to generate this code is at http://www.jottings.com/obfuscator/
                      { coded = "wlwag5psfxpzz@VawAz.UPa"
                        key = "nph7jIxc0ewCl3MXLsYHABNfkqmgDvUtRZFzOoW9u2QySbGTEaVd6158r4JiPK"
                        shift=coded.length
                        link=""
                        for (i=0; i<coded.length; i++) {
                          if (key.indexOf(coded.charAt(i))==-1) {
                            ltr = coded.charAt(i)
                            link += (ltr)
                          }
                          else {
                            ltr = (key.indexOf(coded.charAt(i))-shift+key.length) % key.length
                            link += (key.charAt(ltr))
                          }
                        }
                      document.write("<a href='mailto:"+link+"'>"+link+"</a>")
                      }
                      //-->
                    </script><noscript>Sorry, you need Javascript on to email me.</noscript></li>
                  <li><a target="_blank" href="https://www.linkedin.com/in/adamjturnbull/" aria-label="Visit me on LinkedIn"><i class="fa fa-linkedin-square"></i>Connect on LinkedIn</a></li>
                  <li><a target="_blank" href="https://www.meetup.com/members/10783418/" aria-label="Let's Meetup"><i class="fa fa-meetup"></i>Find me at a Meetup</a></li>
                  <li>© 2017</li>
                </ul>
              </div><!-- /.col -->
            </section>
          </div><!-- /.container -->
        </footer>

        <script>
            window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
            ga('create','UA-96700132-1','auto');ga('send','pageview')
        </script>
        <script src="https://www.google-analytics.com/analytics.js" async defer></script>
        <script src="https://code.jquery.com/jquery-3.0.0.slim.min.js" integrity="sha256-Rf4BadfyCtsvHmO89BUZcbYvNNvZvOT08ALfEzvCsD0=" crossorigin="anonymous"></script>
        <script src="js/bootstrap.min.js" async defer></script>
        <script src="js/typed.min.js"></script>
        <script>
	       $(function(){
		         $(".autotype").typed({
			            strings: ["lead product teams.",
                  "delight users.",
                  "❤️ design.",
                  "craft experiences.",
                  "grow businesses.",
                  "❤️ data.",
                  "mentor talent.",
                  "play nicely with devs."],
			               typeSpeed: 0,
                     backDelay: 1000,
                     loop: true
		         });
	         });
        </script>

    </body>
</html>
